/* For Coursera Test */
* {
	box-sizing: border-box;
	overflow: auto;
}
body {
	/* font */
	font-family: sans-serif;
}
h1 {
	/* makes it look more like the example */
	text-align: center;
}
/* col-1 styling */
#col-1 {
	width: 300px;
	background: gray;
	height: 110px;
	display: inline-block;
}
#col-2 {
		width: 340px;
	background: gray;
	height: 110px;
	float: right;
	display: inline-block;
}